:root {
  --cyan: #4ad6ed;
  --yellow: #ffed00;
  --black: #000000;
  --white: #ffffff;
}

html {
  font-size: 16px;
}

p {
  font-family: Helvetica, Arial;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow:
    0 0 0 0.1rem white,
    0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
  background-color: var(--white);
  border-top: 10px solid var(--cyan)
}

.logo {
 height: 70px;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.dropdown-stad {
  height: 50px;
  width: 70%;
  padding-left: 25px;
  background-color: var(--white);
  border-radius: 25px;
  border: 1px solid;
}

.form-stad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-waarde {
  font-size: 32px;
  font-weight: bold;
  color: var(--cyan);
}

.card-label {
  font-size: 14px;
  color: var(--black);
}

/* .button-reset {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--white);
  border: 1px solid var(--black);
} */

@media (max-width: 768px) {
  html {
    font-size: 14px;

    .cards-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
  }
}
